body {
  background: #3e3e3e;
  width: 500px;
  height: 500px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.video--row {
  display: flex;
  border-bottom: 2px solid #3e3e3e;
  padding-top: 10px;
  padding-bottom: 6px;
  height: 96px;
  background: #fff;
}

.video--row--watched {
  background: #ccc;
}

.video--title {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
}

.video--actions {
}

img.video--thumbnail {
  width: 120px;
  height: 90px;
}

.loading-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: #68b2f3;
  font-weight: bold;
  font-size: 28px;
}

.video--action {
  color: #000;
  margin: 0 5px 0;
  padding: 3px 3px 4px 5px;
}

.video--channel-published-at {
  font-size: 11px;
}

.main-actions-row {
  background: #cc181e;
  color: #fff;
  display: flex;
  border-bottom: 2px solid #3e3e3e;
  padding: 5px;
  align-items: baseline;
}

.main-actions-title {
  font-weight: bold;
  font-size: 27px;
  margin-left: 10px;
}

.main-actions-row--reload,
.main-actions-row--reload:hover,
.main-actions-row--reload:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.flex-space {
  flex: 1;
}

.video--thumbnail--container {
  position: relative;
  overflow: hidden;
  margin: 0 9px;
}

.video--duration {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  padding: 2px 9px;
  font-size: 12px;
  text-shadow: 1px 1px 1px #000;
}

.category-group {
  color: #fff;
  cursor: pointer;
  display: block;
  background: #3bc1a5;
  border-bottom: 2px solid #000;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 10px;
}

.main-view-chooser {
  display: flex;
}

.main-view-chooser--item {
  background: antiquewhite;
  color: #000;
  cursor: pointer;
  flex: 1;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-view-chooser--item-active {
  background: #ffce8c;
}
