body {
  background: #3e3e3e;
  width: 500px;
  height: 500px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.video--row {
  display: flex;
  border-bottom: 2px solid #3e3e3e;
  padding-top: 10px;
  padding-bottom: 6px;
  height: 96px;
  background: #fff;
}

.video--row--watched {
  background: #ccc;
}

.video--title {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
}

.video--actions {
}

img.video--thumbnail {
  margin: 0 9px;
}

.loading-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: #68b2f3;
  font-weight: bold;
  font-size: 28px;
}

.video--action {
  color: #000;
  margin: 0 5px 0;
  padding: 3px 3px 4px 5px;
}

.main-actions-row {
  background: #cc181e;
  color: #fff;
  display: flex;
  border-bottom: 2px solid #3e3e3e;
  padding: 5px;
  align-items: baseline;
}

.main-actions-title {
  font-weight: bold;
  font-size: 27px;
  margin-left: 10px;
}

.main-actions-row--reload, .main-actions-row--reload:hover {
  color: #fff;
}

.flex-space {
  flex: 1;
}
